<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>单词练习</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/vue.js"></script>
        <script src="/static/js/global-config.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron" style="height: 370px;">
                <div class="row" id="table">
                    <div class="col-xs-1 col-md-1">
                    </div>
                    <div v-for="word in wordList">
                        <div class="col-xs-2 col-md-2">
                            <div class="my-circle component" v-bind:value="word.value">
                                {{word.content}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                </div>
                <div class="row" style="margin-top: 50px;" id="table2">
                    <div class="col-xs-1 col-md-1">
                    </div>
                    <div v-for="word in wordList2">
                        <div class="col-xs-2 col-md-2">
                            <div class="my-circle component" v-bind:value="word.value">
                                {{word.content2}}
                                <!-- {{word.value}} -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-md-1">
                    </div>
                </div>
            </div>
            <div class="btn-group-lg">
                <button class="btn btn-deafult my-btn" value="0">a</button>
                <button class="btn btn-deafult my-btn" value="1">k</button>
                <button class="btn btn-deafult my-btn" value="2">s</button>
                <button class="btn btn-deafult my-btn" value="3">t</button>
                <button class="btn btn-deafult my-btn" value="4">n</button>
                <button class="btn btn-deafult my-btn" value="5">h</button>
                <button class="btn btn-deafult my-btn" value="6">m</button>
                <button class="btn btn-deafult my-btn" value="7">y</button>
                <button class="btn btn-deafult my-btn" value="8">r</button>
                <button class="btn btn-deafult my-btn" value="9">w</button>
            </div>
    </body>
    <script>
        $(document).ready(function() {});
        $(".my-btn").click(function(e) {
            var row = $(this).value;
        });

        function setWord(row) {
            $.mui.ajax('/api/v1/', {
                data: {
                    row: row
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'get', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                success: function(data) {
                    var list = data.list;
                },
                error: function(xhr, type, errorThrown) {

                }
            });

        }
        var app = new Vue({
            el: "#table",
            data: {
                wordList: []
            }
        });
        var app2 = new Vue({
            el: '#table2',
            data: []
        });
    </script>
</html>
